<h2 id="introduction">Introduction</h2>
<ul>
<li>processing of meteorological data in general</li>
<li>goal of this work</li>
</ul>
<h2 id="czechglobe">CzechGlobe</h2>
<h3 id="global-change-research-institute">Global Change Research Institute</h3>
<ul>
<li>what are they observing, where, and why</li>
</ul>
<h3 id="current-state">Current state</h3>
<ul>
<li>data collection</li>
<li>information about datasets</li>
<li>current work with the data</li>
</ul>
<h3 id="problem">Problem</h3>
<ul>
<li>fully manual</li>
</ul>
<h3 id="existing-solutions">Existing solutions</h3>
<ul>
<li>do similar systems already exist</li>
</ul>
<h2 id="analysis-and-design">Analysis and Design</h2>
<ul>
<li>chapter intro</li>
</ul>
<h3 id="user-requirements">User requirements</h3>
<ul>
<li>list all used requirements (simplify and automatize usual tasks done when validating and repairing data)</li>
</ul>
<h3 id="non-functional-requirements">Non-functional requirements</h3>
<ul>
<li>must use ElasticSearch database</li>
<li>work with time series with frequency of measurements as small as 20 seconds</li>
</ul>
<h3 id="proposed-solution">Proposed solution</h3>
<ul>
<li>data flow diagram</li>
<li>3 distinct parts:
<ul>
<li>user interface - visualization and control</li>
<li>data processing component</li>
<li>data storage</li>
</ul></li>
</ul>
<h2 id="implementation">Implementation</h2>
<ul>
<li>chapter intro</li>
</ul>
<h3 id="architecture">Architecture</h3>
<ul>
<li>diagram</li>
<li>high level overview of architecture - what each parts does and how parts communicate (airflow, kibana, kibana-plugin, integraion api, ElasticSearch, and PostgreSQL database)</li>
<li>following sections descibe</li>
</ul>
<h3 id="programming-languages-and-environment">Programming languages and environment</h3>
<ul>
<li>Python</li>
<li><p>usage in airflow, possibility for any tasks</p></li>
<li>Javascript</li>
<li>only possible option for creating Kibana plugins</li>
<li><p>React library - suggested by Kibana development team</p></li>
<li>Docker</li>
<li>containerisation</li>
<li>utilization in the development process</li>
<li><p>reasons to use it</p></li>
</ul>
<h3 id="cooperation-with-user">Cooperation with user</h3>
<ul>
<li>agile</li>
</ul>
<h2 id="implementation---data-storage-component">Implementation - Data storage component</h2>
<h3 id="requirements-for-component">Requirements for component</h3>
<ul>
<li>data storage requirements</li>
<li>only one solution, ElasticSearch</li>
</ul>
<h3 id="elasticsearch">ElasticSearch</h3>
<ul>
<li>what is ElasticSearch, what are its strengths</li>
</ul>
<h3 id="data-structure">Data structure</h3>
<ul>
<li>previously mentioned indices (raw, unit, final)</li>
<li>ES index with transformation settings
<ul>
<li>why is it useful - full log of transformations used - can be used to determine qcode</li>
</ul></li>
<li>PostgreSQL database for Ariflow
<ul>
<li>used for storage of information about task runs</li>
</ul></li>
<li>ES index with logs from executed tasks, how to browse them</li>
</ul>
<h2 id="implementation---visualization-component">Implementation - Visualization component</h2>
<h3 id="requirements-for-component-1">Requirements for component</h3>
<ul>
<li>user interface
<ul>
<li>visualization</li>
<li>modify data</li>
<li>data analysis</li>
</ul></li>
<li>easy to use</li>
<li>access control</li>
</ul>
<h3 id="possible-solutions">Possible solutions</h3>
<ul>
<li><p>what are our requirements for visualization lool</p></li>
<li>what is Kibana</li>
<li>pros and cons</li>
<li><p>extendibility by plugins</p></li>
<li>what is Dejavu</li>
<li><p>pros and cons</p></li>
<li>cluster management tools</li>
<li><p>low level API access</p></li>
<li><p>Kibana best suits our needs</p></li>
</ul>
<h3 id="kibana">Kibana</h3>
<ul>
<li>development of plugin</li>
<li>changes occuring at the time, upgrade to new platform</li>
</ul>
<h3 id="plugin">Plugin</h3>
<ul>
<li><p>general info about plugin</p></li>
<li>gets data from ElasticSearch database, descibed in previous chapter</li>
<li><p>contacts integration component for configurations and state of data processing, described in later chapter</p></li>
</ul>
<h3 id="user-interface">User interface</h3>
<ul>
<li>where to find it (url, location in menu)</li>
<li>time series visualization as most important component</li>
<li>describe all controls</li>
</ul>
<h2 id="implementation---data-processing-component">Implementation - Data processing component</h2>
<h3 id="workflow-manager">Workflow manager</h3>
<ul>
<li>what are our requirements for data processing</li>
</ul>
<h4 id="airflow">Airflow</h4>
<ul>
<li>what is Airflow</li>
<li>pros and cons</li>
</ul>
<h4 id="prefect">Prefect</h4>
<ul>
<li>what is Prefect</li>
<li>pros and cons</li>
</ul>
<h3 id="data-pipeline">Data pipeline</h3>
<ul>
<li>describe all ElasticSearch indices used in data pipeline</li>
</ul>
<h4 id="transformations">Transformations</h4>
<ul>
<li>what are transformations</li>
<li><p>implemented as operators in airflow</p></li>
<li>detailed description of all implemented transformations:
<ul>
<li>id, shift, scale, constant, remove</li>
<li>align to zero</li>
<li>compute - allows any custom transformation described by formula</li>
<li>missing values - separate section…</li>
</ul></li>
</ul>
<h4 id="filling-of-missing-values">Filling of missing values</h4>
<ul>
<li><p>why is filling of missing values important</p></li>
<li>detailed description of all implemented fillers:
<ul>
<li>linear and polynomial interpolation</li>
<li>transplantation from another metric</li>
</ul></li>
</ul>
<h2 id="implementation---integration-component">Implementation - Integration component</h2>
<h3 id="requirements-for-component-2">Requirements for component</h3>
<ul>
<li>glues whole system together</li>
<li>why do we need integration between Kibana and Airflow</li>
</ul>
<h3 id="possible-solutions-1">Possible solutions</h3>
<h3 id="integration-component">Integration component</h3>
<ul>
<li><p>stanalone REST API service</p></li>
<li><p>HTTP-based API</p></li>
<li><p>description of resources/endpoints available</p></li>
</ul>
<h2 id="testing-deployment-an-usage">Testing, deployment an usage</h2>
<ul>
<li>chapter intro</li>
</ul>
<h3 id="testing">Testing</h3>
<ul>
<li>covered by unit tests where possible</li>
<li>most of the data processing is too complex - integration tests</li>
</ul>
<h3 id="deployment">Deployment</h3>
<ul>
<li>description of deployment in MUNI cluster</li>
</ul>
<h3 id="docker-images">Docker images</h3>
<ul>
<li>describe all docker images built
<ul>
<li>kibana-dev</li>
<li>kibana</li>
<li>validation-workflow-dags</li>
<li>validation-workflow-api</li>
</ul></li>
<li>containers running in dev/prod mode
<ul>
<li>elasticsearch</li>
<li>airflow-postgres</li>
<li>kibana</li>
<li>airflow
<ul>
<li>in horizontally scalable production mode more complicated: airflow-scheduler, airflow-worker(s), redis</li>
</ul></li>
<li>validation-workflow-api</li>
</ul></li>
</ul>
<h3 id="guides">Guides</h3>
<ul>
<li>list of guides</li>
<li>where to find them ()</li>
</ul>
<h3 id="performance-scalability">Performance &amp; scalability</h3>
<ul>
<li>horizontally scalable - airflow workers</li>
<li>tested throughput on current deployment</li>
</ul>
<h3 id="usage-by-czechglobe">Usage by CzechGlobe</h3>
<ul>
<li>issues raised when we released system into testing by CzechGlobe</li>
</ul>
<h2 id="conclusion">Conclusion</h2>
<ul>
<li>goals reached</li>
</ul>
<h3 id="future">Future</h3>
<ul>
<li>discuss ways to extend this system, there is a lot of them</li>
</ul>
